* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
    color: blue;
}

ul {
    list-style: none;
}

.grid-container {
    padding: 15em;
    padding-top: 0em;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 10fr 1fr;
}

nav {
    max-width: 220px;
}

img {
    width: 100%;
    
}
p {
    padding-top: 0.8em;
    padding-bottom: 1em;
    font-size: 1.2em;
}
.column-center li {
    padding: 2px;
}

.column-left {
    max-width: 700px;
    margin: auto;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 1.8em;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 1.8em;
}
.column-center {
    text-align: right;
}

.column-left ul li {
    font-size: 1em;
    padding-top: 0.5em;
    max-width: 700px;
}

i {
    display: inline-block;
}

@media (max-width: 1500px) {
    .grid-container {
        padding: 10em;
        padding-top: 0em;
        margin-top: 3em;
        display: grid;
        grid-template-columns: 10fr 1fr;
    }

@media (max-width: 1300px) {
    .grid-container {
        padding: 6em;
        padding-top: 0em;
        margin-top: 3em;
        display: grid;
        grid-template-columns: 10fr 1fr;
    }
}

@media (max-width: 1200px) {
    .grid-container {
        padding: 1em;
        padding-top: 0em;
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr 1fr;
    }
    .column-center {
        position: absolute;
        top: 2em;
        right: 0;
        left: 0;
        display: block;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
        max-width: 342px;
    }
    .column-center ul li {
        display: block;
        margin-right: 0;
    }
    .column-center ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        
    }
    .column-left h1 {
        text-align: center;
    }
}

@media (max-width: 1000px) {
    
}


@media (max-width: 850px) {
    
}

@media (max-width: 440px) {
    
}